.dark-mode-toggle {
  width: 54px;
  height: 30px;
  border-radius: 19px;
  background: rgba(51, 51, 51, 1);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px; 
  overflow: hidden; 
  border: none; 
  transition: background-color 0.3s ease; 
}


.dark-mode-toggle__circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(245, 245, 245, 1); 
  position: absolute;
  left: 3px;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 2; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.dark-mode-toggle__moon-icon {
  position: relative;
  z-index: 1;
  margin-right: auto; 
  opacity: 1 !important; 
}

.dark-mode-toggle__sun-icon {
  position: relative;
  z-index: 1;
  margin-left: auto; 
  opacity: 1 !important; 
}

.dark-mode-toggle.is-dark-mode .dark-mode-toggle__circle {
  transform: translateX(24px); 
}

.dark-mode-toggle:not(.is-dark-mode) .dark-mode-toggle__circle {
  transform: translateX(0); 
}

.dark-mode-toggle:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); 
}

.dark-mode-toggle * {
  transition-delay: 0s !important;
}

[data-theme="dark"] .dark-mode-toggle {
  background: rgba(51, 51, 51, 1);
}

[data-theme="dark"] .category-nav__language-arrow {
  color: inherit; 
  opacity: 1 !important; 
}

svg {
  opacity: 1 !important;
}